/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun 2022, 13:35:51
    Author     : Randall
*/

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(245, 237, 224);
}


.main-header {
    background-color: #34495E;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    color: white;
    margin-right: 4px;
}

.text-center {
    text-align: center;
}

.red-text {
    color: #ff933a;
}

.main-container {
    min-height: 100vh;

}

.product img {
    width: 250px;
}

.product h3 {
    font-size: 1.4em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card h3 {
    color: darkblue;
}

.card p {
    color: darkblue;
    font-size: 20px;
}

.navbarP {
    font-size: 30px;
    font-family: serif;
    margin: 0;
    padding: 0;
    height: 15vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.navbarP img {
    padding-left: 40px;
    width: 240px;
    cursor: pointer;
}

.logo {
    width: 160px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    padding-left: 20px;
    text-decoration: none;
    color: darkblue;
    font-weight: 400;
    font-size: 26px;
}

.content h1 {
    font-size: 42px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: beige;
     border-bottom: 6px solid blue;
    background-color: lightblue;
}

.content p {
    font-size: 20px;
    color: darkcyan;
}
